<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InDiv 文档 - 用于构建简单快读的网页app</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div id="root">
      <%- content %>
    </div>
  </body>
  <!-- <script type="text/javascript" src="/main.js"></script> -->
</html>